<h1>イベントが作られた時点でのマッチング判定</h1>
<% if user_signed_in? %>
  <div class = "event_addres">
    <p>イベントアドレス: <%= @event.addres %></p>
  </div>
  <div class = "event_latitude">
    <p>緯度: <%= @event.latitude %></p>
  </div>
  <div class = "event_longitude">
    <p>経度: <%= @event.longitude %></p>
  </div>
  <div class = "event_start_time">
    <p>開始時間: <%= @event.start_time %></p>
  </div>
  <div class = "event_end_time">
    <p>終了時間: <%= @event.end_time %></p>
  </div>
  <div class = "event_comment">
    <p>コメント: <%= @event.comment %></p>
  </div>
  <div class = "event_people_conunt">
    <p>参加募集人数: <%= @event.people_conunt %></p>
  </div>
  <div class = "event_position">
    <p>希望ポジション: <%= @event.position %></p>
  </div>
  <div class = "event_subgenre_id">
    <p>サブジャンル: <%= @event.subgenre_id %></p>
  </div>
  <div class = "event_unmetched_gender">
    <p>希望しない性別 <%= @event.unmetched_gender %></p>
  </div>
  <div class = "event_unmatched_age_min">
    <p>希望しない最小年齢: <%= @event.unmetched_unmatched_age_min %></p>
  </div>
  <div class = "event_unmatched_age_max">
    <p>希望しない最大年齢: <%= @event.unmetched_unmatched_age_max %></p>
  </div>
  <div class = "event_is_matched">
    <p>すでにマッチングしたか？: <%= @event.is_matched %></p>
  </div>
  <div class = "event_is_accepted">
    <p>承認: <%= @event.is_accepted %></p>
  </div>
<% else %>
  <p>'ログインしてください'</p>
<% end %>


